@charset "UTF-8";

#yixiutong_title {
	font-size: 30px!important;
}

#yixiutong_strength {
	padding-right: auto;
	padding-left: auto;
}

#yixiutong_info_list li a{
	font-size: 18px!important;
}

#yixiutong_lang_list {
	font-size: 38px!important;
}
